<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Images/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="top">
        <ul class="wrapper">
            <li><a href="/Home/Login">Đăng nhập</a></li>
            <li><a href="/Reader">Quản lý</a></li>
        </ul>
    </div>
    <div id="banner">
        <h1 class="wrapper">Cổng thông tin Thư viện ĐẠI HỌC KHOA HỌC TỰ NHIÊN TP.HỒ CHÍ MINH</h1>
    </div>
    <div id="menu">
        <ul class="wrapper">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Lịch phục vụ</a></li>
            <li><a href="#">Bản tin</a></li>
            <li><a href="#">Sự kiện</a></li>
            <li><a href="#">Hướng dẫn</a></li>
        </ul>
    </div>
    <div id="main" class="wrapper">
        @RenderBody()
    </div>
    <div id="footer">
        <div id="footer-content" class="wrapper">
            <div class="box">
                <h3>ĐHQG-HCM</h3>
                <ul>
                    <li><a href="http://vnuhcm.edu.vn">Đại học Quốc gia Tp.HCM</a></li>
                    <li><a href="#">Trường ĐH Bách Khoa</a></li>
                    <li><a href="#">Trường ĐH KHTN</a></li>
                    <li><a href="#">Trường ĐH KHXH & NV</a></li>
                    <li><a href="#">Trường ĐH Quốc tế</a></li>
                    <li><a href="#">Trường ĐH CNTT</a></li>
                    <li><a href="#">Trường ĐH Kinh tế – Luật</a></li>
                    <li><a href="#">Khoa Y</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Các đơn vị ĐHQG-HCM</h3>
                <ul>
                    <li><a href="#">Viện Đào tạo Quốc tế</a></li>
                    <li><a href="#">Viện Môi Trường&Tài Nguyên</a></li>
                    <li><a href="#">Khu Công nghệ Phần mềm</a></li>
                    <li><a href="#">Quỹ Phát triển ĐHQG-HCM</a></li>
                    <li><a href="#">Nhà Xuất Bản ĐHQG-HCM</a></li>
                </ul>
            </div>
            <div class="cls"></div>
        </div>
        <div id="footer-copyright">
            <div class="wrapper">Coppyright &copy; Group 07</div>
        </div>
    </div>
</body>
</html>
