<div id="top">
    <ul class="wrapper">
        <li><a href="#">Thoát đăng nhập</a></li>
    </ul>
</div>
<div id="banner">
    <h1 class="wrapper">Cổng thông tin Thư viện ĐẠI HỌC KHOA HỌC TỰ NHIÊN TP.HỒ CHÍ MINH</h1>
    <h3 class="wrapper">NGHIỆP VỤ THƯ VIỆN</h3>
</div>
<div id="menu">
    <ul class="wrapper">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/Supplier">Bổ sung</a></li>
        <li><a href="/Book">Biên mục</a></li>
        <li><a href="/Reader">QL Độc giả</a></li>
        <li><a href="/Circulation">Lưu hành</a></li>
    </ul>
</div>