@{
    ViewBag.Title = "Quản lý hình độc giả";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
	<h1>Quản lý hình độc giả</h1>
	<article id="images">
		<ul></ul>
	</article>

	<article id="images">
		<ul>
			<li id="image1">
				<a class="img" alt="2DrrV7Z.png" title="2DrrV7Z.png">
					<img src="/Uploads/betac7.jpg" class="thumbnail">
				</a>
				<a class="icon delete" onclick="DelImg(1);"></a>
				<a class="icon fav disable" onclick="FavImg(1);"></a>
				<span class="imgName">2DrrV7Z.png</span>
			</li>
			<li id="image2">
				<a class="img" alt="2y8yO0k.png" title="2y8yO0k.png">
					<img src="/Uploads/78c4e683b7444ca580386c4f0213ebaajpg1354437987.jpg" class="thumbnail"></a><a class="icon delete" onclick="DelImg(2);">
				</a>
				<a class="icon fav disable" onclick="FavImg(2);"></a>
				<span class="imgName">2y8yO0k.png</span>
			</li>
			<li id="image3">
				<a class="img" alt="6xI79wk.png" title="6xI79wk.png">
					<img src="/Uploads/1410641470-ava.jpg" class="thumbnail">
				</a>
				<a class="icon delete" onclick="DelImg(3);"></a>
				<a class="icon fav disable" onclick="FavImg(3);"></a>
				<span class="imgName">6xI79wk.png</span>
			</li>

			<li id="image5">
				<a class="img" alt="Avata2.png" title="Avata2.png">
					<img src="/Uploads/IMG_20141117_102612_webcamera360_20141117111649.jpg" class="thumbnail">
				</a>
				<a class="icon delete" onclick="DelImg(5);"></a>
				<a class="icon fav disable" onclick="FavImg(5);"></a>
				<span class="imgName">Avata2.png</span>
			</li>
		</ul>
	</article>
</div>
<!-- /#page-wrapper -->
