@model DTO.User
<div class="info">
    <p><span>Họ tên: </span>@Model.FirstName&nbsp;@Model.LastName</p>
    <p><span>MSSV: </span>@Model.UserNo</p>
    <p><span>Khoa: </span>@Model.DepartmentName</p>
</div>