@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font: 14px Arial, Helvetica, sans-serif;
	color: #3C3C3C;
}
input{
		font: 14px Arial, Helvetica, sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
.wrapper{
	margin: auto;
	width: 1000px;
}
.cls{
	clear: left;
}
#top{
	background-color: #0A2540;
	border-bottom: 1px solid #3B5166;
	text-align: right;
	height: 25px;
	line-height: 25px;
}
#top li{
	display: inline;
	padding-left: 10px;
}
#top li a{
	color: #FFF;
}
#top li a:hover{
	text-decoration: underline;
}
#banner{
	background-color: #0F3B68;
	color: #CCC;
}
#banner h1{
	font: 26px "Times New Roman", Times, serif;
	height: 60px;
	line-height: 60px;
	font-weight: bold;
}
#banner h3{
	color: #F60;
	font-weight: bold;
    font: 20px Tahoma, Geneva, sans-serif;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#menu{
	background-color: #838F9B;
	border-bottom: 1px solid #97A1AB;
	border-top: 1px solid #A6AEB7;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
#menu a{
	font-size: 14px;
	color: #FFF;
	padding: 5px 10px;
}
#menu a:hover{
	background-color: #0F3B68;
	border-radius: 5px;
}
#menu li{
	display: inline;
}
#main{
	min-height: 500px;
}
#main h2{
	margin-bottom: 10px;
}
#main h3{
	text-align: center;
	margin: 10px 0px;
}
#Breadcrumb{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px dotted #F60;
	font: 16px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}
#Breadcrumb span.parent{
	color: #0F3B68;
}
#cat{
	border: 1px solid #E9E9E9;
	box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.7);
}
#cat li{
	padding: 0px 5px;
	line-height: 25px;
}
#cat li a{
	font: 16px Tahoma, Geneva, sans-serif;
	color: #0F3B68;
	font-weight: bold;
}
#cat li ul a{
	font-size: 13px;
	font-weight: normal;
}
#cat li ul{
	margin-left: 20px;
}
#left{
	float: left;
	width: 240px;
	margin-right: 10px;
}
#right{
	float: left;
	width: 750px;
}
#footer{
	background-color: #0F3B68;
}
#footer h3{
	border-bottom: 1px solid #3F6286;
	line-height: 40px;
	color: #FFF;
	margin-bottom: 5px;
}
#footer li{
	color: #FFF;
}
#footer a{
	color: #99CAFF;
}
#footer .box{
	float: left;
	width: 235px;
	padding-right: 15px;
}
#footer-content{
	margin-bottom: 10px;
}
#footer-copyright{
	background-color: #0A2540;
	color: #FFF;
	border-top: 1px solid #364C62;
	height: 35px;
	line-height: 35px;
}
.frm p{
	margin: 3px 0px;
}
.frm label{
	float: left;
	width: 100px;
}
.frm #choose{
	width: 150px;
}
.choose{
	width: 150px;
}
.tbl{
	width: 100%;
}
.required{
	color: #F00;
	padding: 5px;
}
.txtavg{
	width: 200px;
}
.txtdate{
	width: 150px;
}

.txtlarge{
    width: 530px;
}
tr.center{
	text-align: center;
}
.txtnumber{
	width: 100px;
}
.btn{
	width: 70px;
}
.table{
	margin-top: 5px;
	width: 100%;
	border: 1px solid #E9E9E9;
	border-collapse: collapse;
}
.table tr:hover{
	background-color: #FFC;
}
.table td, .table th{
	border: 1px solid #E9E9E9;
	padding: 3px;
}
.info{
	margin-top: 5px;
}
.info p{
    clear: left;
	margin: 3px 0px;
}
.info p span{
	float: left;
	width: 150px;
}
.tit{
    color: #0F3B68;
    font-weight: bold;
    font-size: 16pt;
}
/*Dialog*/
#mask{
	background-color: #CCC;
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0.8;
	z-index: 10;
}
.dialog{
	background-color: #FFF;
	width: 600px;
	border: 1px solid #036;
	height: 400px;
	display: none;
	position: absolute;
	top: 0px;
	left: 70px;
    padding: 10px;
	z-index: 9999;
}
.dialog .close{
    position: absolute;
    top: 5px;
    right: 5px;
}
.dialog fieldset{
    margin-top: 20px;
    padding: 5px;
}
/*Image manage*/
#images ul {
    padding: 5px;
}

#images li {
    list-style: none;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 0 0 6px;
}

#images li a.img {
    width: 105px;
    height: 105px;
    display: block;
}

#images li img.thumbnail {
    height: 100px;
    width: 100px;
}

#images li img.thumbnail {
    border: solid 2px #EFEFEF;
}

#images li:hover img.thumbnail {
    border: solid 2px green;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

#images li .icon {
    display: none;
}

#images li:hover .icon {
    display: block;
    cursor: pointer;
    opacity: 0.7;
}

#images li:hover .icon:hover {
    opacity: 1;
}

#images li .icon.fav.enable {
    display: block;
    opacity: 1;
}

#images .imgName {
    max-width: 100px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10px;
    position: relative;
    font-size: 10px;
    text-align: left;
    background-color: #fff;
    opacity: 0.8;
    padding: 2px;
}

/* image icon */
.icon {
    width: 24px;
    height: 24px;
    position: absolute;
}

.icon.delete {
    background: url("deleteIcon.png");
    top: 5px;
    right: 5px;
}

.icon.fav {
    bottom: 20px;
    right: 5px;
}

.icon.fav.disable {
    background: url("fav-inactive.png");
}

.icon.fav.enable {
    background: url("fav.png");
}