<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="pageSize" value="20" />
    <add key="namespace" value="DAL" />
    <add key="userEnroll" value="UserEnrollRepository" />
    <add key="config" value="ConfigRepository" />
    <add key="country" value="CountryRepository" />
    <add key="purchase" value="PurchaseRepository" />
    <add key="province" value="ProvinceRepository" />
    <add key="purchaseDetail" value="PurchaseDetailRepository" />
    <add key="supplier" value="SupplierRepository" />
    <add key="publisher" value="PublisherRepository" />
    <add key="order" value="OrderRepository" />
    <add key="author" value="AuthorRepository" />
    <add key="orderDetail" value="OrderDetailRepository" />
    <add key="topic" value="TopicRepository" />
    <add key="publicationType" value="PublicationTypeRepository" />
    <add key="unit" value="UnitRepository" />
    <add key="currency" value="CurrencyRepository" />
    <add key="major" value="MajorRepository" />
    <add key="language" value="LanguageRepository" />
    <add key="publication" value="PublicationRepository" />
    <add key="period" value="PeriodRepository" />
    <add key="store" value="StoreRepository" />
    <add key="book" value="BookRepository" />
    <add key="department" value="DepartmentRepository" />
    <add key="group" value="GroupRepository" />
    <add key="attachmentType" value="AttachmentTypeRepository" />
    <add key="attachment" value="AttachmentRepository" />
    <add key="user" value="UserRepository" />
    <add key="cardUser" value="CardUserRepository" />
    <add key="loan" value="LoanRepository" />
    <add key="loanDetail" value="LoanDetailRepository" />
    <add key="course" value="CourseRepository" />
    <add key="status" value="StatusRepository" />
    <add key="from" value="ptudgroup06@yahoo.com.vn" />
    <add key="cacheDuration" value="10000" />
    <add key="enableCaching" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="db" connectionString="Data Source=.;Initial Catalog=IPORTLIB2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="dbexcel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties=Excel 8.0"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization uiCulture="vi-VN" culture="vi-VN" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="db"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="db" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="db" applicationName="/" name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network enableSsl="true" host="smtp.mail.yahoo.com.vn" password="ngusaonoi123" port="587" userName="ptudgroup06@yahoo.com.vn" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>