@{
    ViewBag.Title = "Tìm kiếm sách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Tìm kiếm sách</h2>
<form class="frm">
    <p><label>Từ khóa</label><input type="text" name="txtKeyword" id="txtKeyword" size="70" /></p>
    <p>
        <label>Tiêu đề</label>
        <select name="choose" id="choose">
            <option>Nhan đề</option>
            <option>Đề mục</option>
            <option>Số phân loại</option>
        </select>
    </p>
    <p><label>&nbsp;</label><input type="submit" class="btn" value="Tìm kiếm" /></p>
</form>

<table class="table">
    <tr><th>Nhãn đề chính</th><th>Tên đề mục</th><th>Số phân loại</th><th>Tác giả</th><th>ISBN</th><th>Edit</th><th>Delete</th></tr>
    <tr>
        <td>Từ điển Anh-Việt</td>
        <td>Ngoại ngữ</td>
        <td>330 03</td>
        <td>Đỗ An Chi</td>
        <td>00302131</td>
        <td><a href="#"><img src="/Images/Edit.gif" alt="Edit" /></a></td>
        <td><a href="#"><img src="/Images/Delete.gif" alt="Edit" /></a></td>
    </tr>
    <tr>
        <td>Bài tập toán cao cấp 1</td>
        <td>Toán học cao cấp</td>
        <td>515 830 76</td>
        <td>Ngô Thu Lương</td>
        <td>00343466</td>
        <td><a href="#"><img src="/Images/Edit.gif" alt="Edit" /></a></td>
        <td><a href="#"><img src="/Images/Delete.gif" alt="Edit" /></a></td>
    </tr>

</table>